### Nama  : Enisda Libra Kelana
### NIM   : 11203462010011

In [67]:
import pandas as pd
import numpy as np

In [68]:
df = pd.read_csv('datasets/data-cleaning/iris.csv')

df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [69]:
df = pd.read_csv('datasets/data-cleaning/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [70]:
to_drop = ['species']

In [71]:
df.drop(to_drop, inplace=True, axis=1)

In [72]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

```
df.drop(colums=to_drop, inplace=True)
```
Sintak ini lebih intuitif dan mudah dibaca?
    Jawab : Tidak

df['Identifier'].is_unique

In [73]:
df['petal_length'].is_unique

False

In [74]:
df = df.set_index('petal_width')
df.head()

             sepal_length  sepal_width  petal_length
petal_width
0.2                   5.1          3.5           1.4
0.2                   4.9          3.0           1.4
0.2                   4.7          3.2           1.3
0.2                   4.6          3.1           1.5
0.2                   5.0          3.6           1.4

In [75]:
df.loc[0.5]

sepal_length    5.1
sepal_width     3.3
petal_length    1.7
Name: 0.5, dtype: float64

In [76]:
df.set_index('petal_length', inplace=True)

In [77]:
df.dtypes.value_counts()

float64    2
dtype: int64

In [83]:
df.loc[1:, 'sepal_length'].head(10)

petal_length
1.0    4.6
1.7    5.1
1.9    4.8
1.6    5.0
1.6    5.0
1.5    5.2
1.4    5.2
1.6    4.7
1.6    4.8
1.5    5.4
Name: sepal_length, dtype: float64